@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.75rem;
   
  }

  body {
    color: var(--strong-pink); /* Add this line */
  }
}

.bowlby-one sc-regular {
  font-family: "Bowlby One SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.stretched {
  transform: scaleY(4.5);
}

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }



/* @layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
} */

.swiper-pagination-bullet {
  width: 7px !important;
  height: 7px !important;
  background: rgba(255, 255, 255, 0.2);
  scale: 0.9 !important;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: white !important;
  scale: 1 !important ;
}

/* components/StripeComponent.css */

/* components/StripeComponent.css */

.stripe-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1000;
  pointer-events: none;
  margin-left: 20rem;
}

.stripe-con {
  position: fixed;
  top: 0;
  left: 100px; /* Juster etter behov */
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  z-index: 1000;
  pointer-events: none;
}

.stripe {
  width: 20px; /* Juster bredde etter behov */
  height: 100%; /* Fordel høyden jevnt mellom stripene */
  margin-top: 4rem;
}



.green {
  background-color: #47693a;
  width: 20px;
}

.green1 {
  background-color: #47693a;
  width: 20px;
  border-top-left-radius: 10px;
}

.yellow {
  background-color: #e8d044;
  width: 15px;
}

/* Plasserer stripe 1 i øvre venstre hjørne */
.green2 {
  position: fixed; /* eller absolute, avhengig av behov */
  top: 4rem;
  left: 21.23rem;
  width: 100px; /* Juster etter behov */
  height: 20px; /* Juster etter behov */
  background-color: #47693a; /* eller annen farge */
}

.green3 {
  position: fixed; /* eller absolute, avhengig av behov */
  top: 6.23rem;
  left: 22.23rem;
  width: 84.5px; /* Juster etter behov */
  height: 20px; /* Juster etter behov */
  background-color: #47693a; /* eller annen farge */
}

/* Plasserer stripe 2 i nedre høyre hjørne */
.yellow2 {
  position: fixed; /* eller absolute, avhengig av behov */
  top: 5rem;
  left: 21.23rem;
  width: 100px; /* Juster etter behov */
  height: 20px; /* Juster etter behov */
  background-color: #e8d044; /* eller annen farge */
}

/* Skjule Weglot-velgeren */
aside.weglot_switcher {
  display: none !important;
}